@font-face {
    font-family: 'Orkney';
    src: url('fonts/orkney/orkney_regular_macroman/orkney-regular-webfont.woff')
}

@font-face {
    font-family: 'Orkney Light';
    src: url('fonts/orkney/orkney_light_macroman/orkney-light-webfont.woff')
}

@font-face {
    font-family: 'Orkney Bold';
    src: url('fonts/orkney/orkney_bold_macroman/orkney-bold-webfont.woff')
}

@font-face {
    font-family: 'Garogier';
    src: url('fonts/garogier/garogier_regular_macroman/Garogier-webfont.woff')
}

@font-face {
    font-family: 'Latin Modern';
    src: url('fonts/latin_modern/latinmodernroman_10italic_macroman/lmroman10-italic-webfont.woff')
}

@media (min-width:320px) {

    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    body {
        padding: 1% 1% 20%;
        font-family: 'Orkney Light';
        color: #2E2843;
        background-color: #f4f2fa;
    }
}

@media (min-width:801px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    body {
        padding: 1% 6% 20%;
        font-family: 'Orkney Light';
        color: #2E2843;
        background-color: #f4f2fa;
    }
}

@media (min-width:1025px) {

    /* big landscape tablets, laptops, and desktops */
    body {
        padding: 1% 12% 20%;
        font-family: 'Orkney Light';
        color: #2E2843;
        background-color: #f4f2fa;
    }
}

@media (min-width:1281px) {

    /* hi-res laptops and desktops */
    body {
        padding: 1% 25% 20%;
        font-family: 'Orkney Light';
        color: #2E2843;
        background-color: #f4f2fa;
    }
}

a:link,
a:visited {
    color: #2E2843;
    /*#0d0621;*/
}

a:hover {
    color: #8B0BA7;
}

#author {
    font-family: 'Latin Modern';
    font-weight: lighter;
    margin-top: 0px;
}

/*
body {
    padding: 1% 25% 20%;
    font-family: 'Orkney Light';
    color: #0e042b;
    background-color: #f4f2fa;
}
*/
#cite {
    font-family: 'Latin Modern';
    font-size: medium;
}

#comment {
    font-family: 'Latin Modern';
    font-size: large;
    text-align: center;
    margin: 0px 10% 65px;
}

.flex-container {
    display: flex;
    height: 250px;
    flex-flow: row nowrap;
    align-items: center;
}

h1 {
    font-family: 'Orkney Bold';
}

h2 {
    font-family: 'Orkney';
    margin-top: 50px;
}

h3 {
    font-family: 'Latin Modern';
    font-weight: lighter;
    font-size: x-large;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

summary {
    font-family: 'Latin Modern';
    font-size: large;
    text-decoration: underline;
}

summary:hover {
    color: #8B0BA7;
}

#title {
    margin-bottom: 0px;
    padding-bottom: 0%;
}

#toc {
    font-family: 'Latin Modern';
    font-size: large;
}

video {
    display: block;
    margin: 75px auto 5px;
    width: 80%;
    height: auto;
}