@font-face {
    font-family: 'Orkney';
    src: url('fonts/orkney/orkney_regular_macroman/orkney-regular-webfont.woff')
}

@font-face {
    font-family: 'Orkney Light';
    src: url('fonts/orkney/orkney_light_macroman/orkney-light-webfont.woff')
}

@font-face {
    font-family: 'Orkney Bold';
    src: url('fonts/orkney/orkney_bold_macroman/orkney-bold-webfont.woff')
}

@font-face {
    font-family: 'Garogier';
    src: url('fonts/garogier/garogier_regular_macroman/Garogier-webfont.woff')
}

@font-face {
    font-family: 'Latin Modern';
    src: url('fonts/latin_modern/latinmodernroman_10italic_macroman/lmroman10-italic-webfont.woff')
}

a:link,
a:visited {
    color: #0e042b;
    /*#0d0621;*/
}

#author {
    font-family: 'Latin Modern';
    font-weight: lighter;
    margin-top: 0px;
}

body {
    padding: 1% 25% 20%;
    font-family: 'Orkney Light';
    color: #0e042b;
    background-color: #f4f2fa;
}

#cite {
    font-family: 'Latin Modern';
    font-size: medium;
}

#comment {
    font-family: 'Latin Modern';
    font-size: large;
    text-align: center;
    margin: 0px 10% 65px;
}

.flex-container {
    display: flex;
    height: 250px;
    flex-flow: row nowrap;
    align-items: center;
}

h1 {
    font-family: 'Orkney Bold';
}

h2 {
    font-family: 'Orkney';
    margin-top: 50px;
}

h3 {
    font-family: 'Latin Modern';
    font-weight: lighter;
    font-size: x-large;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

summary {
    font-family: 'Latin Modern';
    font-size: large;
    text-decoration: underline;
}

#title {
    margin-bottom: 0px;
    padding-bottom: 0%;
}

video {
    display: block;
    margin: 75px auto 5px;
    width: 80%;
    height: auto;
}